html
  head
    link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css')
    script(src='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js')
    link(rel="stylesheet", href="styles/map.styl")
    title  Leaflet tutorial
  body
    h1 Show my map :
    #map
